<div>
    <p></p>
    <form novalidate ng-submit="updateStudents()">
        <input class="form-control" type="number" hidden placeholder="ID" ng-model="updated_student.id">
        <p></p>
        <input class="form-control" type="text" placeholder="Имя" ng-model="updated_student.name">
        <p></p>
        <input class="form-control" type="number" placeholder="Оценка" ng-model="updated_student.mark">
        <p></p>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>